{
  "presets": ["@spotahome/babel-preset-spotahome"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root": "./",
          "@req": "./requests"
        }
      }
    ]
  ]
}
