{
  "extends": "@spotahome/eslint-config-spotahome",
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["off"]
  }
}
